---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SafeSpaceStrip from '../components/SafeSpaceStrip.astro';
import GuidesStrip from '../components/GuidesStrip.astro';
import LatestArticles from '../components/LatestArticles.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Small Business Institute of Australia">
	<Header />
	<main>
		<Hero />
		<SafeSpaceStrip />
		<GuidesStrip />
        <LatestArticles />
	</main>
    <Footer />
</Layout>
